@import 'variables';

// HEADER // 

header, .navbar {
    background-color: $bg-white !important;
}

.navbar-brand {
    transition: all 300ms ease;

    &:hover {
        opacity: 0.8;
    }
}

.nav-link {
    transition: all 300ms ease;

    &:hover {
        background-color: $red-1;
        color: $bg-white !important; 
    }
}

.red-color {
    color: $red-2;
}

.principal {
    height: 100vh;
    background-image: url(../images/dodge-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &__title {
        font-size: 6rem;
        font-weight: 700;
        color: $bg-white;
    }
}

.title-wrapper {
    margin-top: 16%;
}

.button {
    padding: 15px 50px;
    font-weight: 700;
    border-radius: 50px;
    font-size: 17px;

    transition: all 300ms ease ;

    &--red {
        background-color: $red-1;
        border: 2px solid $red-1;
        color: white;

        &:hover {
            background-color: $red-3;
            border-color: $red-3;
            text-decoration: none;
            color: #FFF;
        }
    }

    &--white {
        border: 2px solid $bg-white;
        color: #FFF;

        &:hover {
            background-color: $bg-white;
            text-decoration: none;
            color: $red-1;
        }
    }
    
}

// ABOUT US // 

.brands {
    height: 80px;
    margin: 40px 0;
    background-color: $bg-white;

    &__img {
        height: 50px;
        margin: 20px;
        opacity: 0.6;
    }
}

.us__content {
    width: 50%;
}

.us__title {
    font-size: 60px;
    font-weight: 700;
}

.us__text {
    width: 450px;
}


// WHY CHOOSE US //

.why-title {
    font-size: 50px;
}

.crd-container {
    display: grid;
    grid: 1fr 1fr / 1fr 1fr;
    justify-items: center;
}

.crd {
    width: 90%;
    height: 200px;
    margin: 20px;

    &__content {
        padding: 0 40px 0 20px;

    }

    &__title {
        font-size: 20px;
        font-weight: 700;
    }

    &__text {
        font-size: 14px;
    }
}


.circle {
    width: 130px;
    height: 130px;
    background-color: $red-1;
    border-radius: 50%;
    margin: 0 0 0 40px;
    flex-shrink: 0;  
}

.ico {
    width: 50%;
}



@media screen and (max-width: 992px) {

    .crd-container {
        display: grid;
        grid: 1fr / 1fr;
    }

    .crd {
        width: 80%;
        height: 300px;
        margin: 30px 20px;
    
        &__content {
            padding: 0 30px;
            text-align: center;
        }
    
        &__title {
            font-size: 20px;
            font-weight: 700;
        }
    
        &__text {
            font-size: 16px;
        }
    }

    .circle {
        margin: 0 0 15px;
    }
}