@import 'variables';

footer {
    background-color: $bg-gray;
    font-size: 16px;
}

.fab {
    font-size: 30px;
    padding: 4px;
}

.links {
   list-style: none;
   color: $bg-white;

    &__link {
       color: $bg-white;

       &:hover {
           color: $bg-white;
       }
    }
}

.cont { 
    @extend .links
}

@each $ico, $color in $social {
    .ico--#{$ico} {
        color: $bg-dark;
        &:hover {
            color: $color;
        }
    }
}