$font: 'Roboto', sans-serif;
$bg-white: #fafafa;
$bg-dark: #292929;
$bg-gray: #797979;
$red-1: #d83939;
$red-2: #e90000;
$red-3: #f34949;

$social: (
    fb: #0078F7,
    ig: #DD2A7B,
    wp: #45C554,
    tg: #28A8E9,
)
