html {
    scroll-behavior: smooth;
}

body, header {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
    font-weight: 300;
    font-size: 1.1rem;
}

.red-color {
    color: #E90000;
}

.nav-link {
    transition: all 300ms ease;
}

.nav-link:hover {
    background-color: #d83939;
    color: #FAFAFA !important;
}

.principal__img {
    height: 90vh;
    background-image: url(../images/dodge-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


h1 {
    font-size: 5rem;
    font-weight: 700;
    color: #FAFAFA;
}

.brands-red {
    background-color: #d83939;
    height: 80px;
}

.brands {
    background-color: #ECECEC;
    height: 100px;
}

.card {
    transition: all 400ms ease-in-out;
}
.card:hover {
    border-color: #d83939 !important;
}

.about-us__img {
    height: 250px;
    background-image: url(../images/engine.jpg);
    background-position: center;
    background-size: cover;
}
.card__img-wrapper {
    height: 70px;
    width: 70px;
    border: 2px solid #E90000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(45deg);
}


.line {
    width: 100px;
    height: 4px;
    background-color: #E90000;
}

.card {
    background-color: #FAFAFA;
    font-size: 1rem;
    line-height: 1.2rem;
}

.card__img-wrapper img {
    width: 80%;
}

.img2 {
    transform: rotate(-90deg);
}

.img3 {
    transform: rotate(-45deg);
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 200px;
    background-color: #505050;
}

.footer-logo__img {
    width: 80px;
    opacity: 85%;
}

.footer-nav__item {
    list-style: none;
    font-size: 16px;
    font-weight: 300;
}

.footer-nav__link {
    text-decoration: none;
    margin: 3px;
    padding: 10px 0px;
    color: #FFF;
}

.copy {
    height: 30px;
    background-color: #FAFAFA;
}

.copy__text {
    font-size: 11px;
    font-weight: 300;
}

/* Services */

.title__bg {
    height: 250px;
    background-image: url(../images/car.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.title__h1 {
    font-size: 64px;
    font-weight: 700;
    color: #FFF;
}

.service__img {
    width: 250px;
    height: 400px;
}

.img_1{
    background-image: url(../images/1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.img_2 {
    background-image: url(../images/2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.img_3 {
    background-image: url(../images/3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.img_4 {
    background-image: url(../images/4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.img_5 {
    background-image: url(../images/5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.img_6 {
    background-image: url(../images/6.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#galeria {
    display: none;
}


#diagnostico, .background {
    background-color: #1E1E1E;
}

.scanner__img {
    height: 300px;
    background-image: url(../images/scan.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.red-btn {
    background-color: #d83939;
}

.red-btn:hover {
    background-color: #e74343;
}

@media screen and (min-width: 992px) {
    
    #carouselExampleCaptions {
        display: none;
    }

    #galeria {
        display: block;
    }
    
}