@use 'content';
@use 'footer';
@use 'services';
@use 'contact';
@import 'variables';

@mixin bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font;
    background-color: $bg-white;
    font-weight: 300;
    font-size: 1.1rem;    
}

