@use 'content';
@use 'footer';
@import 'variables';

@mixin bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font;
    background-color: $bg-white;
    font-weight: 300;
    font-size: 1.1rem;    
}

header, .navbar {
    background-color: $bg-white !important;
}

.nav-link {
    transition: all 300ms ease;

    &:hover {
        background-color: $red-1;
        color: $bg-white !important; 
    }
}

.red-color {
    color: $red-2;
}

.principal {
    height: 100vh;
    background-image: url(../images/dodge-bg.jpg);
    @include bg-image;

    &__title {
        font-size: 6rem;
        font-weight: 700;
        color: $bg-white;
        margin-bottom: 180px;
    }
}

.reserva {
    background-color: $red-1;
    height: 80px;

    &__text {
        color: $bg-white;
        font-weight: 300;
        font-size: 1.1em;
        margin: 0 50px;
    }

    &__link {
        color: $bg-white;
        border: solid 2px $bg-white;
        padding: 6px 16px;
        margin-right: 50px;
        transition: all 400ms;

        &:hover {
            text-decoration: none;
            color: #FFF;
            transform: scale(1.05);
        }
    }
}



.brands {
    height: 80px;
    margin: 40px 0;
    background-color: $bg-white;

    &__img {
        height: 50px;
        margin: 20px;
        opacity: 0.6;
    }
}


.card {
    background-color: $bg-white;
    font-size: 1rem;
    line-height: 1.2rem;
    transition: all 400ms ease-in-out;

    &:hover {
        border-color: $red-1 !important;
    }
}

.line {
    background-color: $red-2;
    width: 100px;
    height: 4px;
}

.copy {
    height: 30px;
    background-color: $bg-white;

    &__text {
        font-size: .7rem;
        font-weight: 300px;
    }
}


.title__bg {
    height: 250px;
    background-image: url(../images/car.jpg);
    @include bg-image;
}

.title__h1 {
    font-size: 64px;
    font-weight: 700;
    color: $bg-white;
}

.service__img {
    width: 250px;
    height: 400px;
}

.img_1 {
    background-image: url(../images/1.jpg);
    @include bg-image;
}
.img_2 {
    background-image: url(../images/2.jpg);
    @include bg-image;
}
.img_3 {
    background-image: url(../images/3.jpg);
    @include bg-image;
}
.img_4 {
    background-image: url(../images/4.jpg);
    @include bg-image;
}
.img_5 {
    background-image: url(../images/5.jpg);
    @include bg-image;
}
.img_6 {
    background-image: url(../images/6.jpg);
    @include bg-image;
}

#galeria {
    display: none;
}

#diagnostico, .background {
    background-color: $bg-dark;
}

.scanner__img {
    height: 300px;
    background-image: url(../images/scan.jpg);
    @include bg-image;
}

.red-btn {
    background-color: $red-1;
}

.red-btn:hover {
    background-color: $red-3;
}

.dis {
    display: none;
}

@media screen and (min-width: 992px) {
    
    #carouselExampleCaptions {
        display: none;
    }

    #galeria {
        display: block;
    }

    .dis {
        display: inline;
    }
    
}