header, .navbar {
  background-color: #fafafa !important;
}

.navbar-brand {
  transition: all 300ms ease;
}
.navbar-brand:hover {
  opacity: 0.8;
}

.nav-link {
  transition: all 300ms ease;
}
.nav-link:hover {
  background-color: #d83939;
  color: #fafafa !important;
}

.red-color {
  color: #e90000;
}

.principal {
  height: 100vh;
  background-image: url(../images/dodge-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.principal__title {
  font-size: 6rem;
  font-weight: 700;
  color: #fafafa;
}

.title-wrapper {
  margin-top: 16%;
}

.button {
  padding: 15px 50px;
  font-weight: 700;
  border-radius: 50px;
  font-size: 17px;
  transition: all 300ms ease;
}
.button--red {
  background-color: #d83939;
  border: 2px solid #d83939;
  color: white;
}
.button--red:hover {
  background-color: #f34949;
  border-color: #f34949;
  text-decoration: none;
  color: #FFF;
}
.button--white {
  border: 2px solid #fafafa;
  color: #FFF;
}
.button--white:hover {
  background-color: #fafafa;
  text-decoration: none;
  color: #d83939;
}

.brands {
  height: 80px;
  margin: 40px 0;
  background-color: #fafafa;
}
.brands__img {
  height: 50px;
  margin: 18px;
  opacity: 0.6;
}

.us__content {
  width: 50%;
}

.us__title {
  font-size: 60px;
  font-weight: 700;
}

.us__text {
  width: 90%;
}

.us__img img {
  width: 100%;
}

.why-title {
  font-size: 50px;
}

.crd-container {
  display: grid;
  grid: 1fr 1fr/1fr 1fr;
  justify-items: center;
}

.crd {
  width: 90%;
  height: 200px;
  margin: 20px;
}
.crd__content {
  padding: 0 40px 0 20px;
}
.crd__title {
  font-size: 20px;
  font-weight: 700;
}
.crd__text {
  font-size: 14px;
}

.circle {
  width: 130px;
  height: 130px;
  background-color: #d83939;
  border-radius: 50%;
  margin: 0 0 0 40px;
  flex-shrink: 0;
}

.ico {
  width: 50%;
}

@media screen and (max-width: 992px) {
  .crd-container {
    display: grid;
    grid: 1fr/1fr;
  }

  .crd {
    width: 80%;
    height: 300px;
    margin: 30px 20px;
  }
  .crd__content {
    padding: 0 30px;
    text-align: center;
  }
  .crd__title {
    font-size: 20px;
    font-weight: 700;
  }
  .crd__text {
    font-size: 16px;
  }

  .circle {
    margin: 0 0 15px;
  }

  .us__img, .dis {
    display: none;
  }
  .us__img img, .dis img {
    display: none;
  }

  .us__content {
    width: 100%;
  }

  .us__text {
    width: 70%;
    text-align: center;
  }

  .us__title {
    text-align: center;
    padding: 0px 10px;
  }
}
@media screen and (max-width: 576px) {
  .dis-sm {
    display: none;
  }

  .principal__title {
    font-size: 5rem;
    padding-top: 40px;
  }
}
@media screen and (max-width: 420px) {
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .principal__title {
    font-size: 4rem;
    padding-top: 40px;
  }
}
@media screen and (min-height: 800px) {
  .principal__title {
    padding-top: 100px;
  }
}
footer {
  background-color: #797979;
  font-size: 16px;
}

.fab {
  font-size: 30px;
  padding: 4px;
}

.links, .cont {
  list-style: none;
  color: #fafafa;
}
.links__link {
  color: #fafafa;
}
.links__link:hover {
  color: #fafafa;
}

.copy {
  height: 30px;
  background-color: #fafafa;
}
.copy__text {
  font-size: 0.7rem;
  font-weight: 300px;
}

.ico--fb {
  color: #292929;
}
.ico--fb:hover {
  color: #0078F7;
}

.ico--ig {
  color: #292929;
}
.ico--ig:hover {
  color: #DD2A7B;
}

.ico--wp {
  color: #292929;
}
.ico--wp:hover {
  color: #45C554;
}

.ico--tg {
  color: #292929;
}
.ico--tg:hover {
  color: #28A8E9;
}

.title__bg {
  height: 400px;
  background-image: url(../images/car.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.title__h1 {
  font-size: 80px;
  font-weight: 700;
  color: #fafafa;
  margin-bottom: 55px;
}

.serv__content {
  position: relative;
  overflow: hidden;
  width: 300px;
  height: 400px;
  border-radius: 20px;
}

.serv__img {
  display: block;
  object-fit: cover;
  object-position: center;
  transition: 300ms ease;
}

.serv__text {
  position: absolute;
  inset: 0;
  font-size: 18px;
  padding: 1rem;
  background: rgba(0, 0, 0, 0.6);
  color: #FFF;
  text-align: center;
  transition: 300ms ease;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.serv__text h4 {
  font-weight: 700;
}
.serv__text h4 span {
  font-weight: 300;
}

.serv__content > .serv__text.fade {
  opacity: 0;
}

.serv__content:hover > .serv__text.fade {
  opacity: 1;
}

.serv__content:hover > .serv__img.blur {
  filter: blur(3px);
}

.serv__content:hover > .serv__img.zoom {
  transform: scale(1.1);
}

.background {
  background-color: #292929;
}

.d__content {
  width: 50%;
}

.d__title {
  color: #fafafa;
  font-size: 60px;
  font-weight: 700;
}
.d__title--red {
  color: #d83939;
}

.d__text {
  color: #fafafa;
  width: 90%;
}

.d__img {
  width: 50%;
}
.d__img img {
  width: 90%;
}

@media screen and (max-width: 992px) {
  .d__img {
    display: none;
  }
  .d__img img {
    display: none;
  }

  .d__content {
    width: 100%;
  }

  .d__text {
    width: 70%;
    text-align: center;
  }

  .d__title {
    text-align: center;
    padding: 0px 10px;
  }

  .title__h1 {
    font-size: 70px;
  }
}
@media screen and (max-width: 576px) {
  .serv__content > .serv__text.fade {
    opacity: 1;
  }
}
.form {
  background-color: #eeeeee;
  border-radius: 50px;
  padding: 60px 0px;
}
.form__title {
  color: #d83939;
  font-weight: 700;
  font-size: 38px;
}

.input {
  background-color: #e2e2e2;
  border-radius: 500px;
  padding: 20px;
  border: 0px;
  margin: 5px 0px;
}

.text-area {
  background-color: #e2e2e2;
  border-radius: 25px;
  border: 0px;
  padding: 20px;
}

.form__content {
  font-size: 14px;
  font-weight: 500;
  color: #616568;
}

.form__img-wrapper img {
  width: 70%;
}

.form__text {
  list-style: none;
  line-height: 1.8;
}

.social {
  padding: 5px;
}
.social__ico {
  color: #d83939;
}
.social__ico:hover {
  color: #f34949;
}

@media screen and (max-width: 750px) {
  .form__content {
    display: none;
  }
  .form__content img, .form__content .social {
    display: none;
  }

  .cont-h1 {
    font-size: 60px;
    padding-bottom: 60px;
  }
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
  font-weight: 300;
  font-size: 1.1rem;
}

.bold {
  font-weight: 500;
}

/*# sourceMappingURL=styles.css.map */
